/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/*VVVVVVVVVVVVVVVV --MENU-- VVVVVVVVVVVVVVVV*/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(23, 25, 37, 0.5);
  box-shadow: 0 10px 20px rgba(210, 210, 210, 0.1);
}

.logo img {
  width: 275px;
  height: 80px;
}
#menusearch {
  max-width: 25px;
}

#menuprofile {
  max-width: 20px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 60px;
}

.menu li:last-child {
  margin-right: 60px;
}

.menu a {
  display: block;
  padding: 0;
  color: #dde836;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "avenir next", "helvetica neue", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.menu a:hover {
  color: #ff0000;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
}
/*^^^^^^^^^^^^^^ --MENU-- ^^^^^^^^^^^^^^*/

body {
  background-color: #4b4b84;
  color: #d2d2d2;
  font-family: "helvetica neue", arial, sans-serif;
}

h1 {
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  color: #d2d2d2;
}

a {
  text-decoration: none;
}

/*VVVVVVVVVVVVVVV --Front page-- VVVVVVVVVVVVVV*/
.wrapper {
  text-align: center;
  justify-content: center;
}

.wrapper a {
  border: 4px solid #d2d2d2;
  padding: 0.7rem 2rem;
  text-align: center;
  cursor: pointer;
  color: #d2d2d2;
}

.wrapper p {
  margin-top: 50px;
}

.element {
  text-align: center;
}
/*^^^^^^^^^^^^^^^^ --Front page-- ^^^^^^^^^^^^^^^^^*/

/*VVVVVVVVVVVVVVVV --Organizer-- VVVVVVVVVVVVVVVV*/
.accordion {
  width: 600px;
  margin: 50px auto;
  padding: 40px 70px;
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 14px;
  background-color: rgba(28, 38, 60, 0.7);
}

.accordion-header,
#tournament-name,
#player-amount,
#court-amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(23, 25, 37, 0.8);
  color: #d2d2d2;
  border: none;
  border-bottom: 4px solid #d2d2d2;
  padding: 12px;
  margin-bottom: 12px;
  text-align: left;
  cursor: pointer;
  justify-self: end;
}

.accordion-arrow {
  width: 25px;
  height: 10px;
  fill: var(--grey, #d2d2d2);
  transition: transform 0.3s ease;
}

.accordion-header.active .accordion-arrow {
  transform: rotate(180deg);
}

.accordion-content {
  display: none;
}

.accordion-option {
  width: 100%;
  background-color: rgba(23, 25, 37, 0.8);
  color: #d2d2d2;
  border: none;
  padding: 12px;
  cursor: pointer;
}

.category {
  text-align: end;
  align-self: center;
  margin-bottom: 12px;
  margin-right: 50px;
}

#createButton {
  grid-column: 1 / -1; /* from start to end column / -1 last column*/
  justify-self: center;
  background-color: #9ba500;
  color: #171925;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

/*^^^^^^^^^^^^^^^^ --Organizer-- ^^^^^^^^^^^^^^^^^*/

/*VVVVVVVVVVVVVVVV --Participant-- VVVVVVVVVVVVVVVV*/

.tournament-list {
  background-color: rgba(28, 38, 60, 0.7);
  margin: 40px 20px 40px 60px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.title-bar th,
.title-bar {
  font-family: "avenir next", "helvetica neue", sans-serif;
  color: #d2d2d2;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: start;
  padding: 30px;
  background-color: #1c263c;
}

tbody td {
  font-family: "helvetica neue", arial, sans-serif;
  color: #d2d2d2;
  font-weight: 400;
  font-size: 14px;
  padding: 30px;
}

/*^^^^^^^^^^^^^^^^ --Participant-- ^^^^^^^^^^^^^^^^^*/

/*VVVVVVVVVVVVVVVV --FILTER-- VVVVVVVVVVVVVVVV*/
.filter {
  width: 400px;
  margin: 40px auto;
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 14px;
  background-color: rgba(28, 38, 60, 0.7);
}

.filter-item {
  padding: 0 40px;
}

.filter-title-bar {
  margin-bottom: 20px;
}

.filter-header,
#filter-label {
  width: 100%;
  background-color: rgba(23, 25, 37, 0.8);
  color: #d2d2d2;
  border: none;
  border-bottom: 4px solid #d2d2d2;
  padding: 12px;
  margin-bottom: 12px;
  text-align: right;
  cursor: pointer;
}

#filter-player-amount,
#filter-court-amount {
  width: 100%;
  background-color: rgba(23, 25, 37, 0.8);
  color: #d2d2d2;
  border: none;
  border-bottom: 4px solid #d2d2d2;
  padding: 12px;
  margin-bottom: 12px;
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  padding-left: 240px;
}

.filter-arrow {
  width: 25px;
  height: 10px;
  fill: var(--grey, #d2d2d2);
  transition: transform 0.3s ease;
  margin-left: 30px;
}

.filter-header.active .filter-arrow {
  transform: rotate(180deg);
}

.filter-content {
  display: none;
}

.filter-option {
  width: 100%;
  background-color: rgba(23, 25, 37, 0.8);
  color: #d2d2d2;
  border: none;
  padding: 12px;
  cursor: pointer;
}

#filter-createButton {
  display: block;
  background-color: #171925;
  color: #dde836;
  border: none;
  padding: 10px 40px;
  margin: 20px auto;
  font-family: "avenir next", "helvetica neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
/*^^^^^^^^^^^^^^^^ --FILTER-- ^^^^^^^^^^^^^^^^^*/

/*VVVVVVVVVVVVVVVV --MEDIA-- VVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVV --MEDIA FRONT PAGE-- VVVVVVVVVVVVVVVV*/

@media (max-width: 500px) {
  .wrapper a {
    border: 4px solid #d2d2d2;
    padding: 0.7rem 2rem;
    text-align: center;
    color: #d2d2d2;
  }

  .wrapper p {
    margin-top: 40px;
  }

  .element {
    margin-top: 200px;
  }
  /*^^^^^^^^^^^^^^^^ --MEDIA FRONT PAGE-- ^^^^^^^^^^^^^^^^^*/

  /*VVVVVVVVVVVVVVVV --MEDIA ORGANISER-- VVVVVVVVVVVVVVVV*/

  .accordion {
    width: 300px;
    margin: 50px auto;
    padding: 40px 70px;
    font-family: "helvetica neue", arial, sans-serif;
    font-size: 14px;
    background-color: rgba(28, 38, 60, 0.7);
  }

  .accordion-label {
    display: none;
  }

  .accordion-header,
  #tournament-name,
  #player-amount,
  #court-amount {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(23, 25, 37, 0.8);
    color: #d2d2d2;
    border: none;
    border-bottom: 4px solid #d2d2d2;
    padding: 12px;
    margin-bottom: 12px;
    text-align: left;
    cursor: pointer;
    justify-self: end;
  }

  .accordion-arrow {
    width: 25px;
    height: 10px;
    fill: var(--grey, #d2d2d2);
    transition: transform 0.3s ease;
  }

  .accordion-header.active .accordion-arrow {
    transform: rotate(180deg);
  }

  .accordion-content {
    display: none;
  }

  .accordion-option {
    width: 100%;
    background-color: rgba(23, 25, 37, 0.8);
    color: #d2d2d2;
    border: none;
    padding: 12px;
    cursor: pointer;
  }

  .category {
    text-align: end;
    align-self: center;
    margin-bottom: 12px;
    margin-right: 50px;
  }

  #createButton {
    grid-column: 1 / -1; /* from start to end column / -1 last column*/
    justify-self: center;
    background-color: #9ba500;
    color: #171925;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: "helvetica neue", arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

/*^^^^^^^^^^^^^^^^ --MEDIA-- ^^^^^^^^^^^^^^^^^*/
